Repository htcondor/htmap, pull requests merged in 2020-05, with the labels that each got.

#219 Fix flaky late materialization test
  tests/integration/test_late_materialization.py
Labels: bug, testing

#191 DOC: enhance documentation for first-time users
  docs/source/cli.rst
  docs/source/conf.py
  docs/source/devs/env.rst
  docs/source/faq.rst
  docs/source/htcondor.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/recipes.rst
  docs/source/tips-and-tricks.rst
  docs/source/tutorials.rst
  docs/source/tutorials/basic-mapping.ipynb
  docs/source/tutorials/error-handling.ipynb
  docs/source/tutorials/first-steps.ipynb
  htmap/maps.py
  htmap/options.py
  requirements-docs.txt
Labels: docs

#218 CLI Improvements
  docs/source/versions/v0_6_0.rst
  htmap/__main__.py
  htmap/cli.py
  htmap/management.py
  htmap/maps.py
  htmap/state.py
  htmap/utils.py
Labels: cli, enhancement

#221 API, DOC: clarify "remove" command/function
  docs/source/faq.rst
  docs/source/tips-and-tricks.rst
  htmap/cli.py
  htmap/maps.py
  tests/cli/test_clean.py
  tests/cli/test_remove.py
  tests/integration/test_remove_map.py
Labels: cli, docs, enhancement
